In [134]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [135]:
df = pd.read_csv('combined_dataset1.csv')

In [136]:
df.head()

,location_id,location_name_x,year_id,mean_ozone,median_ozone,upper_ozone,lower_ozone,mean_pm,median_pm,upper_pm,...,upper_death_noshock,lower_death_noshock,prob_death_wshock,upper_death_wshock,lower_death_wshock,mean_air_pollution,sum_air_pollution,sum_ozone_hap,sum_air_pollution_cat,sum_ozone_hap_cat
0,1,Global,1990,43.958706,43.957631,44.018968,43.900055,40.815004,40.024924,55.004524,...,0.193953,0.182240,0.189199,0.195099,0.183510,28.475955,85.427865,22.306430,medium,medium
1,1,Global,1991,44.001844,44.002259,44.057867,43.938608,NaN,NaN,NaN,...,0.193107,0.181734,0.188913,0.194803,0.183407,22.326252,44.652503,22.326252,low,medium
2,1,Global,1992,44.051418,44.051990,44.110324,43.990683,NaN,NaN,NaN,...,0.193135,0.182042,0.188361,0.193783,0.182757,22.349227,44.698455,22.349227,low,medium
3,1,Global,1993,44.354340,44.354440,44.414131,44.296156,NaN,NaN,NaN,...,0.194052,0.183662,0.189509,0.194808,0.184446,22.498218,44.996437,22.498218,low,medium
4,1,Global,1994,44.570022,44.569441,44.628212,44.511082,NaN,NaN,NaN,...,0.195105,0.184711,0.193410,0.198740,0.187799,22.603008,45.206017,22.603008,low,medium

In [4]:
df.shape

(20668, 30)

### Data subset

In [23]:
df_global = df.loc[(df['location_id'] == 1)] #global data

In [24]:
df_global['location_name_x'].value_counts()

Global    30
Name: location_name_x, dtype: int64

In [48]:
df_india = df.loc[(df['location_id'] == 163)] #india data

In [49]:
df_india['location_name_x'].value_counts()

India    30
Name: location_name_x, dtype: int64

In [76]:
df_sdi = df.groupby(['year_id', 'sdi_quintile']).mean()

In [84]:
df_sdi = df_sdi.reset_index()
df_sdi.head()

,year_id,sdi_quintile,location_id,mean_ozone,median_ozone,upper_ozone,lower_ozone,mean_pm,median_pm,upper_pm,...,upper_hap,lower_hap,population_hap,prob_death_noshock,upper_death_noshock,lower_death_noshock,prob_death_wshock,upper_death_wshock,lower_death_wshock,mean_air_pollution
0,1990,High Mid SDI,1738.925926,39.850429,39.848997,42.635266,37.089653,22.007137,20.875486,38.819413,...,0.292986,0.178552,2.860939e+07,0.175244,0.189558,0.161772,0.176504,0.190824,0.163057,20.696864
1,1990,High SDI,29325.681661,38.346651,38.343463,41.847936,34.857484,16.488377,15.674573,28.741564,...,0.018060,0.005715,5.631754e+06,0.107137,0.111357,0.103090,0.107329,0.111552,0.103281,18.281893
2,1990,Low Mid SDI,17008.766355,30.989957,30.985260,33.430292,28.584845,24.170149,23.141212,40.932776,...,0.824410,0.741060,1.474651e+07,0.247165,0.293974,0.205324,0.247941,0.294705,0.206149,18.648253
3,1990,Low SDI,1628.382353,36.232139,36.227046,37.518331,34.916109,41.626655,39.935424,69.815803,...,0.956797,0.925188,2.386614e+07,0.321508,0.370392,0.275827,0.327957,0.376489,0.282606,26.267189
4,1990,Mid SDI,3516.469388,40.069597,40.072343,42.055973,38.075311,25.889542,24.165536,49.681136,...,0.480367,0.350925,2.430723e+07,0.192551,0.209903,0.176066,0.192841,0.210183,0.176360,22.124538

In [88]:
df_low_sdi = df_sdi.loc[(df_sdi['sdi_quintile'] == 'Low SDI')]
df_low_sdi.head()

,year_id,sdi_quintile,location_id,mean_ozone,median_ozone,upper_ozone,lower_ozone,mean_pm,median_pm,upper_pm,...,upper_hap,lower_hap,population_hap,prob_death_noshock,upper_death_noshock,lower_death_noshock,prob_death_wshock,upper_death_wshock,lower_death_wshock,mean_air_pollution
3,1990,Low SDI,1628.382353,36.232139,36.227046,37.518331,34.916109,41.626655,39.935424,69.815803,...,0.956797,0.925188,2.386614e+07,0.321508,0.370392,0.275827,0.327957,0.376489,0.282606,26.267189
8,1991,Low SDI,1628.382353,36.341438,36.334986,37.641994,35.048850,NaN,NaN,NaN,...,0.954286,0.923253,2.451031e+07,0.324653,0.374182,0.278596,0.330536,0.379715,0.284871,18.640986
13,1992,Low SDI,1628.382353,35.907267,35.908074,37.191643,34.605977,NaN,NaN,NaN,...,0.951981,0.921195,2.519233e+07,0.328923,0.379298,0.282492,0.331598,0.381745,0.285408,18.422713
18,1993,Low SDI,1628.382353,35.551054,35.546380,36.863675,34.263750,NaN,NaN,NaN,...,0.949395,0.918577,2.586371e+07,0.334167,0.385200,0.286974,0.337139,0.387972,0.290191,18.243274
23,1994,Low SDI,1628.382353,35.011562,35.012856,36.323672,33.710576,NaN,NaN,NaN,...,0.946863,0.915654,2.657668e+07,0.339232,0.390404,0.291706,0.360936,0.409950,0.314450,17.972144

### Pearson Coefficient

In [29]:
overall_pearson_r = df_global[['mean_ozone', 'mean_pm', 'mean_hap', 'mean_air_pollution', 'prob_death_noshock', 'prob_death_wshock']].corr()

In [30]:
overall_pearson_r

,mean_ozone,mean_pm,mean_hap,mean_air_pollution,prob_death_noshock,prob_death_wshock
mean_ozone,1.000000,0.558071,-0.945667,0.649509,-0.923236,-0.923484
mean_pm,0.558071,1.000000,-0.626188,0.929878,-0.697684,-0.693810
mean_hap,-0.945667,-0.626188,1.000000,-0.749463,0.983930,0.983592
mean_air_pollution,0.649509,0.929878,-0.749463,1.000000,-0.786222,-0.785573
prob_death_noshock,-0.923236,-0.697684,0.983930,-0.786222,1.000000,0.999576
prob_death_wshock,-0.923484,-0.693810,0.983592,-0.785573,0.999576,1.000000

### Time Lagged Cross Correlation

In [44]:
def df_shifted(df, target=None, lag=0):
    if not lag and not target:
        return df       
    new = {}
    for c in df.columns:
        if c == target:
            new[c] = df[target]
        else:
            new[c] = df[c].shift(periods=lag)
    return  pd.DataFrame(data=new)

In [100]:
df_from_2010 = df_low_sdi[df_low_sdi['year_id'] >= 2010]
df_from_2010

,year_id,sdi_quintile,location_id,mean_ozone,median_ozone,upper_ozone,lower_ozone,mean_pm,median_pm,upper_pm,...,upper_hap,lower_hap,population_hap,prob_death_noshock,upper_death_noshock,lower_death_noshock,prob_death_wshock,upper_death_wshock,lower_death_wshock,mean_air_pollution
103,2010,Low SDI,1628.382353,36.222244,36.220687,37.816084,34.649874,40.966022,39.651203,65.065787,...,0.915495,0.883642,4.122254e+07,0.295383,0.339752,0.253792,0.310192,0.353969,0.269194,26.029505
108,2011,Low SDI,1628.382353,37.878622,37.886693,39.433663,36.276463,42.489090,41.062755,67.667921,...,0.914035,0.881573,4.234233e+07,0.289750,0.334721,0.247388,0.291546,0.336380,0.249332,27.088728
113,2012,Low SDI,1628.382353,38.853615,38.858209,40.402180,37.312220,43.872617,42.328682,70.375930,...,0.912407,0.878780,4.348469e+07,0.283788,0.330120,0.240868,0.285345,0.331565,0.242554,27.874210
118,2013,Low SDI,1628.382353,40.298860,40.298486,41.881510,38.722463,40.727816,39.454025,63.822579,...,0.910900,0.875547,4.463163e+07,0.278080,0.325255,0.234489,0.280397,0.327342,0.236991,27.306906
123,2014,Low SDI,1628.382353,40.476192,40.474875,42.049141,38.877595,40.673516,39.441296,63.443519,...,0.909233,0.871269,4.576866e+07,0.272572,0.321100,0.228207,0.280356,0.328358,0.236482,27.346925
128,2015,Low SDI,1628.382353,40.930161,40.931426,42.538588,39.307795,45.546779,43.920217,73.482598,...,0.907287,0.865920,4.690938e+07,0.267199,0.316786,0.222354,0.271952,0.321263,0.227438,29.121517
133,2016,Low SDI,1628.382353,39.952592,39.956840,41.547221,38.349851,43.685105,42.203418,69.600137,...,0.904938,0.860139,4.809198e+07,0.261959,0.312604,0.216526,0.264658,0.315066,0.219431,28.173840
138,2017,Low SDI,1628.382353,40.396421,40.393445,41.466824,39.323401,42.184327,40.770955,66.962214,...,0.902347,0.853021,4.932386e+07,0.256462,0.307763,0.211016,0.259598,0.310622,0.214413,27.820010
143,2018,Low SDI,1628.382353,42.265916,42.268660,43.887243,40.617553,42.087940,40.687814,66.751873,...,0.899644,0.845415,5.057987e+07,0.251134,0.303219,0.205405,0.254129,0.305971,0.208550,28.409439
148,2019,Low SDI,1628.382353,43.001055,43.003940,44.685956,41.349592,41.938528,40.537929,66.468532,...,0.896796,0.837243,5.186406e+07,0.246686,0.299925,0.200584,0.248690,0.301743,0.202749,28.602981

In [129]:
df_new = df_shifted(df_from_2010[['mean_pm','prob_death_noshock']], 'prob_death_noshock', lag=-5)
df_new.corr()

                     mean_pm  prob_death_noshock
mean_pm             1.000000            0.905407
prob_death_noshock  0.905407            1.000000

In [118]:
df_new

       mean_pm  prob_death_noshock
103  45.546779            0.295383
108  43.685105            0.289750
113  42.184327            0.283788
118  42.087940            0.278080
123  41.938528            0.272572
128        NaN            0.267199
133        NaN            0.261959
138        NaN            0.256462
143        NaN            0.251134
148        NaN            0.246686